// Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);


// Font Sizes
$font-h1: 1.5em; // 24px
$font-h2: 1.375rem; // 22px
$font-m: 0.9375rem; // 15px
$font-s: 0.8125rem; // 14px

// Font Weights
$font-weight-l: 600;
$font-weight-m: 400;
$font-weight-s: 200;
